<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>Spam Or Ham Classification</h1>
        <hr>
        <div class="form-group">
            <form action="../cgi-bin/spamClassification.py" method="post">
                <h3>Enter Mail</h3>
                <textarea spellcheck="false" class="form-control"
                          name="text" id="" rows="10"
                          placeholder="Enter mail here"></textarea>
                <br>
                <input type="submit" class="btn btn-primary" value="Send">
            </form>
        </div>
    </div>

</body>
</html>